// Fonts
$font-montserrat-alternate: 'Montserrat Alternate', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// colors
$black: black;
$dark-gray: rgb(39, 39, 39);
$white: white;
$gray: rgb(128, 128, 128);
$light-green: #afcbc6;
$light-blue: lightblue;
// typography

$size-xxxxxs: 10px;
$size-xxxxs: 12px;
$size-xxxs: 14px;
$size-xxs: 16px;
$size-xs: 18px;

$size-s: 20px;
$size-m: 24px;
$size-l: 26px;
$size-xl: 30px;
$size-xxl: 34px;
$size-xxxl: 38px;

// Transition

$transition: 0.3s;
